@font-face {
  font-family: "blenderpro";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/BlenderPro-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "blenderpro";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/BlenderPro-Medium.woff") format("woff2");
}

* {
  font-family: "blenderpro";
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: #353535;
  color: #f5f5f5;
  font-size: 16px;
  height: 100%;
}

.login-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login {
  background: #181818;
  padding: 32px;
  border-radius: 20px;
  width: 640px;
  height: 630px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  background: transparent;
}

.login-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.upper-icons,
.bottom-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.login-license-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.login-license-input span {
  position: relative;
}

.login-license-input span img {
  position: absolute;
  top: 10px;
  left: 15px;
  z-index: 1;
}

.login-license-input .login-btn {
  background: #e52320;
  border-radius: 30px;
  padding: 11px 48px;
  font-weight: 900;
  font-size: 18px;
  color: #f5f5f5;
  margin-bottom: 30px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.login-license-input .login-btn:hover {
  -webkit-box-shadow: 0px 10px 20px rgba(229, 35, 32, 0.25);
          box-shadow: 0px 10px 20px rgba(229, 35, 32, 0.25);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.login-license-input input {
  background: #f5f5f5;
  border: 0.5px solid rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  font-weight: 700;
  padding: 11px 48px;
  text-transform: uppercase;
  margin-bottom: 25px;
  width: 100%;
}

.login-field {
  position: relative;
}

.login-field a {
  position: absolute;
  top: 7px;
  right: 10px;
}

.login-field button {
  position: absolute;
}

.body_wrapper {
  background-color: #141518;
}

.container-fluid {
  padding: 0;
}

.container_width {
  margin: 25px auto;
  max-width: 1440px;
}

.container_width .side_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #1e1f25;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 19%;
          flex: 0 0 19%;
  max-width: 19%;
  padding: 20px 12px 20px 12px;
  min-height: 641px;
  max-height: 641px;
  margin-right: 25px;
  border-radius: 10px;
}

.container_width .side_bar .logo_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 8px;
  padding: 0;
}

.container_width .side_bar .logo_container .logo {
  height: 41px;
  width: 42.12px;
}

.container_width .side_bar .logo_container .buttons {
  margin-left: auto;
  padding-right: 8px;
}

.container_width .side_bar .main_head {
  color: #f5f5f5;
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
  text-transform: uppercase;
  margin: 31px 0px 0px 24px;
}

.container_width .side_bar .site_tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
  width: 100%;
  padding-left: 4px;
  padding-right: 4px;
  margin-top: 25px;
}

.container_width .side_bar .site_tabs li {
  margin-bottom: 20px;
  background: #1e1f25;
  border-radius: 30px;
}

.container_width .side_bar .site_tabs a {
  display: block;
  width: 100%;
  height: 33px;
  padding-top: 4px;
  padding-left: 20px;
  border-radius: 30px;
  white-space: nowrap;
  text-align: start;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.005em;
  text-transform: uppercase;
  color: #f5f5f5;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.container_width .side_bar .site_tabs a:hover {
  text-decoration: none;
  background: #3c4254;
  -webkit-box-shadow: 0px 10px 20px rgba(60, 66, 84, 0.7);
          box-shadow: 0px 10px 20px rgba(60, 66, 84, 0.7);
}

.container_width .side_bar .site_tabs a.active {
  font-size: 18px;
  font-weight: 900;
  height: 35px;
  background: #e52320;
  -webkit-box-shadow: 0px 10px 20px rgba(229, 35, 32, 0.25);
          box-shadow: 0px 10px 20px rgba(229, 35, 32, 0.25);
  border-radius: 30px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.container_width .side_bar .bottom-icons {
  padding-left: 2px;
  margin-top: 90px;
}

.container_width .side_bar .lightmode_btn {
  background-image: url(../images/lightmode.svg);
  margin-right: 6px;
}

.container_width .side_bar .darkmode_btn {
  background-image: url(../images/darkmode.svg);
}

.container_width .side_bar .faq_btn {
  background-image: url(../images/faq.svg);
}

.container_width .side_bar .dash_btn {
  background-image: url(../images/dashboard.svg);
}

.container_width .side_bar .key_btn {
  background-image: url(../images/keybind.svg);
}

.container_width .side_bar .refresh_btn {
  background-image: url(../images/refresh.svg);
}

.container_width .side_bar .proxy_btn {
  background-image: url(../images/proxy.svg);
}

.container_width .side_bar .lightmode_btn,
.container_width .side_bar .darkmode_btn,
.container_width .side_bar .faq_btn,
.container_width .side_bar .dash_btn,
.container_width .side_bar .key_btn,
.container_width .side_bar .refresh_btn,
.container_width .side_bar .proxy_btn {
  width: 42px;
  height: 42px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #282c38;
  border-radius: 8px;
  border: 1px solid #3c4254;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.container_width .side_bar .lightmode_btn:focus,
.container_width .side_bar .darkmode_btn:focus,
.container_width .side_bar .faq_btn:focus,
.container_width .side_bar .dash_btn:focus,
.container_width .side_bar .key_btn:focus,
.container_width .side_bar .refresh_btn:focus,
.container_width .side_bar .proxy_btn:focus {
  -webkit-box-shadow: 0px 0px 20px #353741;
          box-shadow: 0px 0px 20px #353741;
  outline: none;
}

.container_width .content_panel {
  background: #1e1f25;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75.99%;
          flex: 0 0 75.99%;
  max-width: 75.99%;
  border-radius: 10px;
  min-height: 780px;
  margin-right: 25px;
  border-radius: 10px;
  padding: 0;
}

.container_width .content_panel .tab-content {
  padding: 32px;
}

.container_width .content_panel .tab_head {
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
  text-transform: uppercase;
  color: #f5f5f5;
  margin-bottom: 32px;
}

.container_width .content_panel .col-lg-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #141518;
  border: 1px solid #282c38;
  margin-bottom: 10px;
  min-height: 78px;
  border-radius: 4px;
  padding: 18px 24px;
}

.container_width .content_panel .col-lg-12 .col_head {
  color: #f5f5f5;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.container_width .content_panel .col-lg-12 .col_para {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #bcbcbc;
  margin-bottom: 0;
}

.container_width .content_panel .form_design {
  color: #bcbcbc;
  font-weight: 500;
  background-color: #2c2d31;
  border-radius: 4px;
  border: 1px solid #424448;
  min-width: 380px;
  height: 40px;
  position: relative;
  padding-left: 24px;
}

.container_width .content_panel .form_design::-webkit-input-placeholder {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #bcbcbc;
}

.container_width .content_panel .form_design:-ms-input-placeholder {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #bcbcbc;
}

.container_width .content_panel .form_design::-ms-input-placeholder {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #bcbcbc;
}

.container_width .content_panel .form_design::placeholder {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #bcbcbc;
}

.container_width .content_panel .pid_img {
  position: absolute;
  top: 25px;
  right: 35px;
}

.container_width .content_panel .panel_btn {
  background-color: #e52320;
  -webkit-box-shadow: 0px 10px 20px rgba(229, 35, 32, 0.25);
          box-shadow: 0px 10px 20px rgba(229, 35, 32, 0.25);
  text-align: center;
  color: #f5f5f5;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.005em;
  border-radius: 4px;
  text-transform: uppercase;
  display: block;
  width: 450px;
  height: 40px;
  border: none;
}

.container_width .content_panel .panel_btn:focus {
  border: none;
  outline: none;
}

.container_width .content_panel .drp_btn {
  background-color: #e52320;
  -webkit-box-shadow: 0px 10px 20px rgba(229, 35, 32, 0.25);
          box-shadow: 0px 10px 20px rgba(229, 35, 32, 0.25);
  width: 115px;
  height: 28px;
  border-radius: 30px;
  color: #e8e8e8;
  font-weight: bold;
  font-size: 14px;
  line-height: 10px;
  text-transform: uppercase;
  text-align: center;
}

.container_width .content_panel .dropdown-toggle::after {
  position: absolute;
  top: 12px;
  margin-left: 11px;
}

.container_width .content_panel .drp_btn2 {
  width: 154px;
  height: 28px;
}

.container_width .content_panel .custom-control {
  padding-right: 25px;
  padding-bottom: 10px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.container_width .content_panel .custom-switch .custom-control-label::before {
  height: 28px;
  width: 56px;
  border-radius: 30px !important;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: 0px 10px 20px rgba(60, 66, 84, 0.7);
          box-shadow: 0px 10px 20px rgba(60, 66, 84, 0.7);
}

.container_width .content_panel .custom-control-input:checked ~ .custom-control-label::before {
  height: 28px;
  width: 56px;
  border-radius: 30px !important;
  border-color: rgba(229, 35, 32, 0.25);
  background-color: #e52320;
  -webkit-box-shadow: 0px 10px 20px rgba(229, 35, 32, 0.25);
          box-shadow: 0px 10px 20px rgba(229, 35, 32, 0.25);
}

.container_width .content_panel .custom-switch .custom-control-label::after {
  top: calc(0.38rem + 2px);
  left: calc(-2rem + 2px);
  width: calc(1rem + 4px);
  height: calc(1rem + 4px);
  background-color: #f06663;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

.container_width .custom-control-input:checked ~ .custom-control-label::after {
  background-color: white;
  border: none;
  left: calc(-1.2rem + 2px);
  border: none;
}
/*# sourceMappingURL=styles.css.map */